<!DOCTYPE html>
<html ng-app="wezApp">
    <head>
        <link rel="stylesheet" type="text/css" href="library.css">
        <meta charset="utf-8">
        <title>Wez on Film</title>
    </head>
    <body ng-controller="filmCtrl">
        <div class="side-menu">

            <div class="cancel">
                <a href="#"><img src="./assets/icons/close-x.png"></a>
            </div>

            <div class="nav-items">
                <p>HOME</p>
                <a href="library.html"><p>LIBRARY</p></a>
                <p>FAVORITES</p>
            </div>
        </div>
        <header>

            <div class="hamburger">
                <a href="#">
                    <img src="./assets/icons/burger-menu.png">
                </a>
            </div>
            <div class="title">
                <a href="index.html">
                    <h1>WEZ ON FILM</h1>
                </a>
            </div>
        </header>
        <main>
            <div class="library">
                <h3>Library</h3>
            </div>
            <div class="search">
                <input type="text" placeholder="Seach Library" ng-model="title">
            </div>
            <div class="library-wrapper">
            <div class="library-content" ng-repeat="film in films | filter: title">
                    <div class=film-display>
                        <div><a href="{{film.link}}"><img ng-src="{{film.Poster}}"></div>
                        <div class='name'>{{film.Title}}
                            ({{film.Year}})</div></a>
                    </div>
            </div>
          </div>
        </main>
        <footer></footer>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
        <script src="js/animation.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.js"></script>
        <script src="js/app.js"></script>
        <script src="js/controller.js"></script>
        <script src="js/service.js"></script>
    </body>
</html>
