*{
  font-family:helvetica;
}
body {
  background-color: #F8F8F6;
  margin: 0;
}

header{
  background-color: #F1C53C;
  text-align: center;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1{
  margin: 0;
  font-weight: lighter;
}

h3{
  margin: 0;
  font-weight: lighter;
}

.reviews {
  text-align: center;
  background-color: rgba(48,48,47,0.05);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5vh;
}

.posters{
  height: auto;
}

.posters img{
  height:370px;
  margin: 10px;
}

.about {
  text-align: center;
  background-color: rgba(48,48,47,0.05);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5vh;
}

.about-info{
  height: 50vh;
  background-color: #AFAB97;
}

footer {
  background-color: #F1C53C;
  height: 10vh;
}
