*{
  font-family:helvetica;
}
body {
  background-color: #F8F8F6;
  margin: 0;
}

header{
  background-color: #F1C53C;
  text-align: center;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

a{
  text-decoration: none;
  color: inherit;
}

h1{
  margin: 0;
  font-weight: lighter;
}

h3{
  margin: 0;
  font-weight: lighter;
}

.cancel img{
  height: 20px;
}


.cancel{
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: flex-end;
  padding-right: 5px;
  padding-top: 10px;
  position: absolute;;
  left: 231px;
  right: 4px;
}

.side-menu{
  height: 100vh;
  width: 270px;
  background-color: rgba(0,0,0,0.92);
  position: fixed;
  /*border: 1px solid red;*/
  display: flex;
  justify-content: center;
  display: none;
}

.hamburger{
  height: auto;
  width: auto;
  position: absolute;
  left: 30px;
  top: 40px;
}

.hamburger img{
  height: 40px;
  width:40px;
}

.nav-items{
  padding-top: 30px;
  /*border: 1px solid green;*/
}

.nav-items p {
  color:#F1C53C;
  font-weight: lighter;;
  font-family: helvetica;
  font-size: 18px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  position: relative;
}

.nav-items p:hover{
  text-decoration: underline;
}

/*==================================
HOME VIEW
===========================*/

.reviews {
  background-color: rgba(48,48,47,0.05);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5vh;
}

.posters{
  height: auto;
  text-align: left;
}

.posters img{
  height:370px;
  margin: 10px;
  padding: 7px;
}

.posters-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.posters img:hover{
  background-color: #AFAB97;
  transition: ease;
}

figcaption{
  background-color: rgba(51,44,31,0.75);
  position: absolute;
  color: white;
}

.about {
  text-align: center;
  background-color: rgba(48,48,47,0.05);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5vh;
}

.about-info{
  height: 50vh;
  background-color: #AFAB97;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-me{
  width: 530px;
  height: auto;
  padding-left: 70px;
}

.about-me p{
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  font-weight: lighter;
  text-align: justify;
}

.portrait img{
  border-radius: 300px;
  height: 250px;
}

/*==========
HOME VIEW END
=============*/

.buffer{
  height: 50vh;
  background-image: url('img/28hara-obit-master768.jpg');
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0px -140px;
}

/*===============
LIBRARY VIEW
==================*/


.library{
  text-align: center;
  background-color: rgba(48,48,47,0.05);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5vh;
  width: 100vw;
}

.search-library {
  height: 98px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-library input{
  height: 40px;
  width: 500px;
  font-size: 20px;
  font-weight: lighter;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  border: none;
  border: 1px solid black;
  outline: none;
}

.library-main{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.library-wrapper{
  margin: 0;
  border: 1px solid green;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: center;
  width: 100vw;
  position: relative;
}

.library-content{
  width: auto;
}

.film-display{
  padding-left: 25px;
  padding-bottom: 25px;
  width: 200px;
  text-align: center;
}

.name:hover{
  text-decoration: underline;
  transition: slow;

}

.film-display img{
  height: 300px;
}

footer{
  background: black;
  height:30vh;
}

@media (max-width: 1149px){
  .posters{
    text-align: center;
  }
}

@media (min-width:1190px) {
  .about-me p{
    font-size: 21px;
  }

  .portrait img{
    border-radius: 300px;
    height: 300px;
  }
}

@media (max-width: 945px){
  .about-info{
    display: flex;
    flex-direction: column;
    align-content: center;
    padding: 50px;
    width: auto;
  }

  .posters img{
    height: 300px;
  }
  .posters {
    text-align: center;
  }
}

@media (max-width: 700px){
  .hamburger{
    height: 25px;
    width: 25px;
    position: absolute;
    left: 30px;
    top: 45px;
  }
  .hamburger img{
    height: 20px;
    width:20px;
  }
  .title{
    font-size: 13px;
  }
  h3{
    font-size: 13px;
  }
  .nav-items{
    padding-top: 15px;
    /*border: 1px solid green;*/
  }

  .nav-items p {
    font-size: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .side-menu{
    height: 100vh;
    width: 200px;
  }
  .cancel{
    height: 15px;
    padding-right: 5px;
    padding-top: 10px;
    position: absolute;;
    left: 160px;
    right: 4px;
  }
  .search input{
    width: 300px;
  }
}



@media (max-width: 575px){
  .posters img{
    height: 270px;
  }
}

@media (max-width: 445px){
  .posters img{
    height: 240px;
  }
}
