<div class="reviews">
      <h3>Reviews</h3>
</div>

<main class="reviews-main">


  <div class="review-container">
  <div class="wrapper">
    <div class="media-container">
  <div class="column-left">
    <img id="side" src="{{filmDetail.poster}}">
  </div>
  <div class="trailer">
  <iframe ng-src="{{trustSrc(filmDetail.link)}}" frameborder="0" allowfullscreen></iframe>
  </div>
  </div>
  <br>
  <br>
  <div class="reviewBody">
    <div class="review">
      <h3>{{filmDetail.title}} ({{filmDetail.year}})</h3>
      <br>
      <h5>Wesley Huang </h5>
      <br>
      <br>
      {{filmDetail.review}}
  </div>
  </div>


</div>
</div>
</main>
