<div class="reviews">
      <h3>Reviews</h3>
</div>

<main class="reviews-main">


  <div class="review-container">
  <div class="wrapper">
    <div class="media-container">
  <div class="column-left">
    <img id="side" src="{{filmDetail.poster}}">
  </div>
  <div class="trailer">
  <iframe ng-src="{{trustSrc(filmDetail.link)}}" frameborder="0" allowfullscreen></iframe>
  </div>
  </div>
  
  <div class="reviewBody">
    <a href="javascript:window.print()">
    <div id="print">
      <p>PRINT REVIEW</p>
    </div>
  </a>
    <div class="review">
      <h3>{{filmDetail.title}} ({{filmDetail.year}})</h3>
      <br>
      <h5>Wesley Huang </h5>
      <br>
      <br>
      <p>{{filmDetail.review}}</p>
      <br>
      <br>
      <div class="film-info">
        <h7>Director</h7>
        <p>{{filmDetail.director}}</p>
        <br>
        <h7>Writer</h7>
        <p>{{filmDetail.writer}}</p>
        <br>
        <h7>Cast</h7>
        <p>{{filmDetail.actors}}</p>
        <br>
        <h7>Genre</h7>
        <p>{{filmDetail.genre}}</p>
        <br>
        <h7>Country</h7>
        <p>{{filmDetail.country}}</p>
        <br>
        <h7>Language</h7>
        <p>{{filmDetail.language}}</p>
        <br>
        <h7>Runtime</h7>
        <p>{{filmDetail.runtime}}</p>
        <br>
        <h7>Release Date</h7>
        <p>{{filmDetail.release}}</p>
      </div>
  </div>
  </div>


</div>
</div>
</main>
