*{
  font-family:helvetica;
}
body {
  background-color: #F8F8F6;
  margin: 0;
}

header{
  background-color: #F1C53C;
  text-align: center;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cancel{
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: flex-end;
  padding-right: 5px;
  padding-top: 10px;
  position: fixed;
  left: 231px;
  right: 4px;
}

.cancel img{
  height: 20px;
}

.side-menu{
  height: 100vh;
  width: 270px;
  background-color: rgba(0,0,0,0.92);
  position: fixed;
  /*border: 1px solid red;*/
  display: flex;
  justify-content: center;
}

.hamburger{
  height: auto;
  width: auto;
  position: absolute;
  left: 30px;
}

.hamburger button{
  text-decoration: none;
}

.hamburger img{
  height: 40px;
  width:40px;
}

.nav-items{
  padding-top: 30px;
  /*border: 1px solid green;*/
}

.nav-items p {
  color:#F1C53C;
  font-weight: lighter;;
  font-family: helvetica;
  font-size: 18px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

h1{
  margin: 0;
  font-weight: lighter;
}

h3{
  margin: 0;
  font-weight: lighter;
}

p{
  font-weight: lighter;
}

a {
  text-decoration: none;
  color: inherit;
}

.reviews {
  text-align: center;
  background-color: rgba(48,48,47,0.05);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5vh;
}

.wrapper {
  height: 1198px;
  margin: 40px;
  background-color: #AFAB97;
  padding: 15px;
}

.column-left{
  float: left;
}

#side{
  height:400px;
  padding-left: 10px;
}

.reviewBody{
  width: auto;
  height: 500px;
  margin: 50px;
}

.review {
  padding: 10px;
}

.review p {
  padding-left: 20px;
  margin: 0;
}

.review h3 {
  font-size: 35px;
  font-weight: 500;
}

.trailer{
  height: 400px;
  width: 970px;
  padding-left: 40px;
  /*border: 1px solid green;*/
  display: flex;
  justify-content: flex-end;
}

iframe{
  height: auto;
  width: 970px;
}

.search {
  background-color: #F1C53C;
  height: 10vh;
}

footer{
  background: black;
  height:30vh;
}

@media (max-width: 1425px){
  .trailer{
    width: 800px;
  }
  iframe{
    width: 800px;
  }
}

@media (max-width: 1200px){
  .trailer{
    width: 700px;
  }
  iframe{
    width: 700px;
  }
}
}

@media (max-width: 1195px){
  .trailer{
    width: 600px;
  }
  iframe{
    width: 600px;
  }
}

@media (max-width: 1155px){
  .trailer{
    width: 550px;
  }
  iframe{
    width: 550px;
  }
}

@media (max-width: 1055px){
  .trailer{
    width: 500px;
  }
  iframe{
    width: 500px;
  }
}
