*{
  font-family:helvetica;
}
body {
  background-color: #F8F8F6;
  margin: 0;
}

header{
  background-color: #F1C53C;
  text-align: center;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

button{
  background: transparent;
  border: none !important;
  font-size: 0;
}

main{
  display: flex;
  justify-content: center;
  align-items: center;
}

.cancel{
  height: 30px;
  width: 30px;
  display: flex;
  justify-content: flex-end;
  padding-right: 5px;
  padding-top: 10px;
  position: relative;;
  left: 231px;
  right: 4px;
}

.cancel img{
  height: 20px;
}

.side-menu{
  height: 100vh;
  width: 270px;
  background-color: rgba(0,0,0,0.92);
  position: fixed;
  /*border: 1px solid red;*/
  display: flex;
  justify-content: center;
  display: none;
}

.hamburger{
  height: auto;
  width: auto;
  position: absolute;
  left: 30px;
}

.hamburger img{
  height: 40px;
  width:40px;
}

.nav-items{
  padding-top: 30px;
  /*border: 1px solid green;*/
}

.nav-items p {
  color:#F1C53C;
  font-weight: lighter;;
  font-family: helvetica;
  font-size: 18px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
}

.nav-items p:hover{
  text-decoration: underline;
}

h1{
  margin: 0;
  font-weight: lighter;
}

h3{
  margin: 0;
  font-weight: lighter;
}

p{
  font-weight: lighter;
}

a {
  text-decoration: none;
  color: inherit;
}

.reviews {
  text-align: center;
  background-color: rgba(48,48,47,0.05);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5vh;
}

.media-container{
  /*border: 1px solid green;*/
  text-align: center;
  justify-content: space-around;
  width: 100vw;
}

.trailer{
  height: 400px;
  width: 58vw;
  padding-left: 35px;
  /*border: 1px solid green;*/
  display: flex;
  justify-content: flex-end;
}

iframe{
  height: auto;
  width: 58vw;
  transition: ease;
}

.wrapper {
  height: 1198px;
  width: 77.5vw;
  margin: 40px;
  background-color: #AFAB97;
  padding: 15px;
  display: flex;
  flex-direction: column;
}

.column-left{
  float: left;
}

#side{
  height:400px;
  padding-left: 10px;
}

.reviewBody{
  width: auto;
  height: 500px;
  margin: 50px;
}

.review {
  padding: 10px;
}

.review p {
  padding-left: 20px;
  margin: 0;
}

.review h3 {
  font-size: 35px;
  font-weight: 500;
}



.search {
  background-color: #F1C53C;
  height: 10vh;
}

footer{
  background: black;
  height:30vh;
}

@media (max-width: 1600px){
  .trailer{
    width: 800px;
  }
  iframe{
    width: 800px;
  }
  .media-container{
    width: 90vw;
  }
  .reviewBody{
    padding-right: 200px;
  }
}

@media (max-width: 1425px){
  .trailer{
    width: 50vw;
  }
  iframe{
    width: 50vw;
  }
}

@media (max-width: 1200px){
  .trailer{
    width: 46vw;
  }
  iframe{
    width: 46vw;
  }
}
}

@media (max-width: 1195px){
  .trailer{
    width: 600px;
  }
  iframe{
    width: 600px;
  }
}

@media (max-width: 1155px){
  .trailer{
    width: 42vw;
  }
  iframe{
    width: 42vw;
  }
}

@media (max-width:946px){
  .wrapper .column-left{
    display: none;
  }
  .trailer{
    width: 77vw;
    border: 1px solid green;
    text-align: center;
    display: flex;
    justify-content: center;
    padding-left: 0px;
  }
  iframe{
    width: 100%;
  }
  .reviewBody{
    position: relative;
  }
}
