*{
  font-family:helvetica;
}
body {
  background-color: #F8F8F6;
  margin: 0;
}

header{
  background-color: #F1C53C;
  text-align: center;
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

button{
  background: transparent;
  border: none !important;
  font-size: 0;
}

.reviews-main{
  display: flex;
  justify-content: center;
  align-items: center;
}

h1{
  margin: 0;
  font-weight: lighter;
}

h3{
  margin: 0;
  font-weight: lighter;
}

p{
  font-weight: lighter;
}

a {
  text-decoration: none;
  color: inherit;
}

.reviews {
  text-align: center;
  background-color: rgba(48,48,47,0.05);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5vh;
}

.media-container{
  /*border: 1px solid green;*/
  text-align: center;
  justify-content: space-around;
  width: 100vw;
  padding-top: 10px;
}

.trailer{
  height: 400px;
  width: 58vw;
  padding-left: 35px;
  /*border: 1px solid green;*/
  display: flex;
  justify-content: flex-end;
}

iframe{
  height: auto;
  width: 58vw;
  transition: ease;
}

#print{
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 150px;
  background-color:gray;
  position: absolute;
  right: 250px;
}

#print p {
  font-size: 13px;
}

#print:hover{
  color: white;
}

.wrapper {
  height: auto;
  width: 77.5vw;
  margin: 40px;
  background-color: #AFAB97;
  padding: 15px;
  display: flex;
  flex-direction: column;
}

.column-left{
  float: left;
}

#side{
  height:400px;
  padding-left: 10px;
}

.reviewBody{
  width: auto;
  height: auto;
  text-align: justify;
  padding: 30px;
}

.review {
  padding: 10px;
}

.review p {
  margin: 0;
  font-size: 23px;
  padding-right: 10px;
  padding-left: 10px;
}

.review h3 {
  font-size: 35px;
  font-weight: 500;
}


.search {
  background-color: #F1C53C;
  height: 10vh;
}

footer{
  background: black;
  height:30vh;
}

@media (max-width: 1600px){
  .trailer{
    width: 800px;
  }
  iframe{
    width: 800px;
  }
  .media-container{
    width: 90vw;
  }
}

@media (max-width: 1425px){
  .trailer{
    width: 51vw;
  }
  iframe{
    width: 51vw;
  }
}

@media (max-width: 1200px){
  .trailer{
    width: 48vw;
  }
  iframe{
    width: 48vw;
  }
}
}

@media (max-width: 1195px){
  .trailer{
    width: 650px;
  }
  iframe{
    width: 650px;
  }
}

@media (max-width: 1155px){
  .trailer{
    width: 45vw;
  }
  iframe{
    width: 45vw;
  }
}

@media (max-width:946px){
  .wrapper .column-left{
    display: none;
  }
  .trailer{
    width: 77vw;
    border: 1px solid green;
    text-align: center;
    display: flex;
    justify-content: center;
    padding-left: 0px;
  }
  iframe{
    width: 100%;
  }
  .reviewBody{
    position: relative;
  }
}
